@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');
:root {
    --header-height: 3.5rem;

    /*=============Colors==========*/
    /*Color mode HSL(hue, saturation,lightness)*/
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 60%);
    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 8%);
    /*=============Font and typography==========*/
    /*.5rem=8px/ 1rem = 16px.....*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /*=============Font weight==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /*=============z index==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    /*-=========== transition===============*/
    --transition-effect: 0.25s cubic-bezier(0.25, -0.59, 1, .66);
}   
 /*============= Responsive typography==========*/
@media screen and (min-width: 1152px){
    :root {
        --biggest-font-size: 5.5rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}
  /*============= BASE ==========*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

body{
    background-color: var(--body-color);
}

button,
input{
    outline: none;
    border: none;
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*======================== RESUABLE CSS CLASSES===================*/
.container{
    max-width: 1120px;
}
.grid{
    display: grid;
    gap: 1.5rem
}
.section{
    padding-block: 5rem 1rem;
}
.section__title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}
.main{
    overflow: hidden;
}
/*======================== HEADER & NAV===================*/
.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);   
    margin-left: 10px;
}
.nav__toogle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}
.nav__toogle{
    margin-right: 15px;
}
@media screen and (max-width: 1023px) {
    
    .nav__menu{
        
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(0, 0%, 0%, .3);
        width: 100%;
        padding-block: 4rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: top .4s;
    }
}
.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.nav__link{
    position: relative;
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}
.nav__link::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width .3s;
}
.nav__link:hover::after{
    width: 70%;
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
/*=================== SHOW MENU =======================*/
.show-menu{
    top: 0;
}
/* Add blur to header*/
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
}
/* Active Link*/
.active-link::after{
    width: 70%;
}
/*=================== HOME =======================*/
.home{
    position: relative;
}
.home__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center;
}
.home__shawdow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    
}
.home__container{
    position: relative;
    padding-top: 3rem;
    row-gap: 3rem;
}
.home__data{
    text-align: center;
}
.home__subtitle{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}
.home__title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}
.home__description{
    margin-bottom: 2rem;
    color: var(--title-color);

}
.home__cards{
    grid-template-columns: 330px;
    justify-content: center;
}
.home__card{
    position: relative;
    overflow: hidden;
}
.home__card-chart{
    background-color: #fffb;
}
.home__card-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*====================== BUTTON =======================*/
.button{
    background-color: hsla(0, 0%, 100%, 0.116);
    padding: 1.25rem 1.5rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}
.button i{
    font-size: 1.25rem;
    transition: transform .4s;
    font-weight: initial;
}
.button:hover i{
    transform: translateX(.25rem);
}

/*====================== ABOUT =======================*/
.about__container{
    row-gap: 3rem;
}
.about__data{
    text-align: center;
}
.about__control{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1d2e3c;
    margin-right: 20px;
}
.about__control-title{
    margin: 10px;
}
.list__group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    
}
.list__group-item{
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    
}
.item{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.img__item-group{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
h5{
    font-size: 30px;
}
.btn_control{
    margin-right: 7px;
}
.btn__control-OFF{
    position: relative;
    width: 70px;
    padding: 7px 0;
    text-align: center;
    margin: 10px 5px;
    font-weight: bold;
    border: 2px solid #ff4e37;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.4s;
    box-shadow: inset 0 0 0 0 #ff4e37;
    outline: none;
    border-radius: 10px;

}
.btn__control-ON{
    position: relative;
    width: 70px;
    padding: 7px 0;
    text-align: center;
    margin: 5   px 10px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: #fff;
    cursor: pointer;    
    overflow: hidden;
    transition: ease-in-out 0.4s;
    box-shadow: inset 0 0 0 0 #3eff37;
    outline: none;
    border-radius: 10px;
}
.btn__control-ON:hover{
    box-shadow: inset 70px 0 0 0 #3eff37;
}
.btn__control-OFF:hover{
    box-shadow: inset 70px 0 0 0 #ff4e37;
}

/*====================== Monitor =======================*/

.monitor__container{
    padding-top: 1.5rem;
    grid-template-columns: 240px;
    justify-content: center;
    row-gap: 2.5rem;

}
.monitor__header{
    display: flex;
    justify-content: space-between;
}
.monitor__weather{
    background-color: #1d2e3c;
    backdrop-filter: blur(7px);
    padding: 0.39rem 1rem;
}
.monitor__card{
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: #37c6ff71;
}
.monitor__image{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.monitor__title{
    text-align: center;

}
.monitor__img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}
.show__limit{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 10px ;
    text-align: center;
}
.btn-set{
    padding: 0.5px 7px;
    color: #1d2e3c;
    background-color: #ded1d1;
    border-radius: 4px;
}
.btn-set:hover{
    cursor: pointer;
    background-color: #fff;
}
.show__limit-low h6{
    position: relative;
    margin-bottom: 0;
    color: #ded1d1;
}
.show__limit-low h4{   
    margin-left: 10px;
    font-size: 0;
}
.form-input{
    width: 70px;
    text-align: center;
    color: #fff;
    background-color: transparent;
}
.form-input::placeholder{
    color: #ded1d1;
    text-align: center;
}
.show__limit-high h6{
    position: relative;
    margin-bottom: 0;
    color: #ded1d1;
}
.show__limit-high h4{
    margin-left: 10px;
    font-size: 0;
}

/*====================== History =======================*/
.history{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.history__container{
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
}
.history__datepicker{
    display: flex;
    width: 95%;
    margin: .8rem auto;
    justify-content: space-between;
}
.datepicker{
    border-radius: 4px;
    height: 35px;
    text-align: center;
}
.btn-history{
    background-color: hsla(0, 0%, 100%, 0.116);
    padding: 0.39rem 1rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    border-radius: 4px;
}

.table__header{
    width: 100%;
    height: 100%;
    background-color: #fff4;
    padding: .8rem 1rem;
}
.table__body::-webkit-scrollbar{
    width: 0.5rem;
    width: 0.5rem;
}
.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #ded4d1;
    visibility: hidden;
}
.table__body:hover:-webkit-scrollbar-thumb{
    visibility: visible;
}
.table__body{
    width: 95%;
    max-height: 89%;
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
table, th, td {
    border-collapse: collapse;
    padding: 1rem;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d1ded2fb;
}
tbody tr:nth-child(even){
    background-color: #0000000b;
}






/*====================== Scroll up=======================*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsla(0, 0%, 100%, .1);
    padding: 6px;
    display: inline-flex;
    color: var(--title-color);
    font-size: 1.25rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    z-index: var(--z-tooltip);
    transition: bottom .4s transform .4s;
}
.scrollup:hover{
    transform: translateY(-.25rem);
}
.show-scroll{
    bottom: 3rem;
}
/*====================== FOOTER =======================*/
.footer{
    padding-block: 2.5rem;
    background-color: var(--container-color);
}
.footer__content{
    row-gap: 3.5rem;
}
.footer__logo{
    display: inline-block;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}
.footer__data{
    grid-template-columns: repeat(2,max-content);
    gap: 2.5rem 3.5rem;
}
.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}
.footer__links{
    display: grid;
    row-gap: .75rem;
}
.footer__link{
    color: var(--text-color);
    transition: color .4s;
}
.footer__link:hover{
    color: var(--title-color);
}
.footer__group,
.footer__social{
    display: flex;
}
.footer__group{
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.footer__social{
    column-gap: 1.5rem;
}
.footer__social-link{
    color: var(--text-color);
    font-size: 1.25rem;
    transition: color .4s, transform .4s;
}
.footer__social-link:hover{
    color: var(--title-color);
    transform: translateY(-.25rem);
}
.footer__copy{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    text-align: center;
}
/*====================== BREAKPOINTS =======================*/
@media screen and (max-width: 340px) {
    .container{
        max-width: 350px;
    }
    .foot__data{
        grid-template-columns: max-content;
    }
    .history__search .btn-history{
        margin-top: 10px;
    }
}

@media screen and (min-width: 576px) {
    .home__container,
    .about__container,
    .monitor__container,
    .history__container{
        grid-template-columns: 380px;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .home__cards{
        grid-template-columns: repeat(2, 330px);
    }
    .monitor__container{
        grid-template-columns: repeat(2,240px);
    }

}
@media screen and (min-width: 1023px) {
    .nav__close,
    .nav__toogle{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
        margin-right: 15px;
    }
    .about__container{
        grid-template-columns: 200px 500px;
    }
    .monitor__container{
        grid-template-columns: repeat(4,240px);
    }
    .footer__content{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
    .footer__group{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__copy{
        order: -1;
    }
}
@media screen and (min-width: 1152px) {
    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 2rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .blur-header::after{
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);

    }
    .home__container{
        grid-template-columns: initial;
        justify-content: initial;
        row-gap: 4rem;
        padding-top: 6.5rem;

    }
    .home__data{
        text-align: initial;
        width: 480px;
    }
    .home__subtitle{
        font-size: var(--h2-font-size);
    }
    .home__description{
        margin-bottom: 2.5rem;
    }
    .home__cards{
        grid-template-columns: repeat(2, 450px);
    }
    .button {
        column-gap: 1.5rem;
    }
    .about__container{
        grid-template-columns: 250px 780px;
        column-gap: 8.5rem;
        padding-block: 1rem;
    }
    .monitor__container{
        grid-template-columns: repeat(4, 270px);
        column-gap: 3rem;
        padding-top: 4rem;
    }
    .history__container{
        width: 90vw;
    }
    .footer{
        padding-block: 5rem 3rem;
    }
    .footer__title{
        margin-bottom: 1.5rem;
    }
    .footer__group{
        margin-top: 7rem;
    }
    .footer__social{
        column-gap: 2rem;
    }
    .footer__social-link{
        font-size: 1.5rem;
    }

}